@model IEnumerable<PropertyManagementSystem.Models.w_owners>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">System Params Management</div>
                <div class="panel-body">
                    <form action="/AddOwner/Create" style="margin-top:40px" method="post">
                        <table class="table">
                            <tr>
                                <td align="right">name:</td>
                                <td><input class="form-control" value="" name="name" required placeholder="Please enter name!" /></td>
                            </tr>
                            <tr>
                                <td align="right">phone:</td>
                                <td><input class="form-control" value="" name="phone" required placeholder="Please enter phone!" /></td>
                            </tr>
                            <tr>
                                <td align="right">email:</td>
                                <td><input class="form-control" value="" name="email" required placeholder="Please enter email!" /></td>
                            </tr>
                            <tr>
                                <td align="right">password:</td>
                                <td><input class="form-control" value="" name="password" required placeholder="Please enter password!" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>