@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div class="container-fluid cm-container-white">
        <h2 style="margin-top:0;">Property Management System Introduction</h2>
        <p>This system is developped in visual studio 2019 + SQL Server 2019, with asp.net mvc</p>
    </div>
    <div class="container-fluid">
        <!-- First Row-->
        <div class="row cm-fix-height">
            <!-- Property Management -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Property Management</div>
                    <div class="panel-body">
                        <a href="/Admin/PropertyIndex">Check Property Basic information</a>
                    </div>
                </div>
            </div>

            <!-- Announcement -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Announcement</div>
                    <div class="panel-body">
                        <a href="#">Publish Announcement</a>
                    </div>
                </div>
            </div>

            <!-- Public Utilites -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Public Utilites</div>
                    <div class="panel-body">
                        <a href="#">Check Public Utilites in Property</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Row-->
        <div class="row cm-fix-height">
            <!-- Building Management -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Building Management</div>
                    <div class="panel-body">
                        <a href="#">Detail Information of Building</a>
                    </div>
                </div>
            </div>

            <!-- Device management -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Device management</div>
                    <div class="panel-body">
                        <a href="#">Manage Device Using Status in Property</a>
                    </div>
                </div>
            </div>

            <!-- Repair management -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Repair management</div>
                    <div class="panel-body">
                        <a href="#">Manage Property Owns Repair Request</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Row-->
        <div class="row cm-fix-height">
            <!-- Complaint Management -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Complaint Management</div>
                    <div class="panel-body">
                        <a href="#">Manage Property Owns Complaints</a>
                    </div>
                </div>
            </div>

            <!-- parking space -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Parking Space</div>
                    <div class="panel-body">
                        <a href="#">Parking Spaces Information</a>
                    </div>
                </div>
            </div>

            <!-- Property management fees -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Property Management Fees</div>
                    <div class="panel-body">
                        <a href="#">Manage Property Management Fees</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Forth Row-->
        <div class="row cm-fix-height">
            <!-- Owner management -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Owner Management</div>
                    <div class="panel-body">
                        <a href="#">Manage All Owner Account and Information</a>
                    </div>
                </div>
            </div>

            <!-- database backup -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Database Backup</div>
                    <div class="panel-body">
                        <a href="#">Backup Current Database</a>
                    </div>
                </div>
            </div>

            <!-- Log off -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> <a href="#">Log Off</a></div>
                </div>
            </div>
        </div>

    </div>


</body>
</html>
