
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <title>Clearmin template</title>
</head>
<body class="cm-no-transition cm-2-navbar">
    <div id="global">
        <style>
            .demo-btn .btn {
                margin: 5px
            }
        </style>
        <div class="container-fluid">
            <div class="row cm-fix-height">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">My Information</div>
                        <div class="panel-body demo-btn">
                            <p>ID: @Session["id"] </p>
                            <p>Name: @Session["name"]</p>
                            <p>Phone: @Session["phone"] </p>
                            <p>Email: @Session["email"] </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">My Property Cost</div>
                        <div class="panel-body demo-btn">
                            <p>
                                
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row cm-fix-height">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">My Repair Requests</div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">My Complaints</div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
