<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
            @*<div class="cm-flex"><svg width="210" height="55.15311920433147" viewBox="0 0 210 55.15311920433147" class="css-1j8o68f"><defs id="SvgjsDefs1337"></defs><g id="SvgjsG1338" featurekey="textGroupContainer" transform="matrix(1,0,0,1,0,4)" fill="#111111"><rect xmlns="http://www.w3.org/2000/svg" y="0" x="0" height="1" width="1" opacity="0"></rect><rect xmlns="http://www.w3.org/2000/svg" y="45.68181818181818" x="0" width="16" height="2"></rect><rect xmlns="http://www.w3.org/2000/svg" y="45.68181818181818" x="194" width="16" height="2"></rect></g><g id="SvgjsG1339" featurekey="YhTCwJ-0" transform="matrix(2.219263324858485,0,0,2.219263324858485,2.9138939349865836,-10.83000527928394)" fill="#111111"><path d="M8.14 5.48 q1.66 0 2.94 0.59 t2.06 1.63 l-1.46 1.06 q-0.64 -0.86 -1.58 -1.29 t-1.96 -0.43 q-2.26 0 -3.81 1.72 t-1.59 4.16 q0 2.52 1.54 4.19 t3.86 1.69 q2.54 0 4.1 -1.98 l1.26 1.06 q-1.86 2.48 -5.36 2.48 q-3.1 0 -5.13 -2.14 t-2.07 -5.3 q0 -3.16 2.05 -5.28 t5.15 -2.16 z M20.02 10.4 q2.18 0 3.56 1.35 t1.44 3.57 q0 2.14 -1.4 3.51 t-3.6 1.41 q-2.2 0 -3.58 -1.39 t-1.42 -3.53 q0 -2.16 1.4 -3.53 t3.6 -1.39 z M16.7 15.32 q0 1.54 0.93 2.49 t2.39 0.99 q1.46 0 2.38 -0.97 t0.94 -2.51 q0 -1.52 -0.93 -2.5 t-2.41 -0.98 q-1.44 0 -2.36 0.97 t-0.94 2.51 z M31.76 10.4 q2.22 0 3.58 1.48 l-1.24 1.1 q-0.94 -1.14 -2.36 -1.14 q-1.46 0 -2.31 0.95 t-0.85 2.53 q0 1.5 0.91 2.48 t2.25 1 q1.54 0 2.38 -1.16 l1.16 1.1 q-1.3 1.48 -3.54 1.5 q-2.14 -0.02 -3.47 -1.36 t-1.37 -3.56 q0.02 -2.24 1.4 -3.58 t3.46 -1.34 z M41.54 10.4 q2.18 0 3.56 1.35 t1.44 3.57 q0 2.14 -1.4 3.51 t-3.6 1.41 q-2.2 0 -3.58 -1.39 t-1.42 -3.53 q0 -2.16 1.4 -3.53 t3.6 -1.39 z M38.22 15.32 q0 1.54 0.93 2.49 t2.39 0.99 q1.46 0 2.38 -0.97 t0.94 -2.51 q0 -1.52 -0.93 -2.5 t-2.41 -0.98 q-1.44 0 -2.36 0.97 t-0.94 2.51 z M53.38 5.48 q2.58 0 3.96 1.66 l-1.38 1.2 q-0.8 -1.26 -2.58 -1.3 q-1.34 0 -2.18 0.64 t-0.84 1.74 q0 0.96 0.64 1.52 t2.4 1.1 q2.28 0.66 3.23 1.61 t0.95 2.57 q0 1.88 -1.4 3 t-3.58 1.14 q-1.46 0 -2.6 -0.52 t-1.76 -1.44 l1.44 -1.18 q0.46 0.76 1.28 1.17 t1.74 0.41 q1.26 0 2.17 -0.71 t0.91 -1.75 q0 -0.94 -0.53 -1.48 t-1.75 -0.92 l-1.62 -0.54 q-1.82 -0.62 -2.57 -1.55 t-0.75 -2.29 q0 -1.8 1.34 -2.93 t3.48 -1.15 z M62.44000000000001 7.98 l0 2.66 l2.76 0 l0 1.32 l-2.76 0 l0 5 q0 1.12 0.36 1.48 t1.04 0.36 q0.78 0 1.38 -0.32 l0.06 1.42 q-0.8 0.34 -1.82 0.34 q-1.44 0 -2.01 -0.71 t-0.57 -2.33 l0 -5.24 l-2.04 0 l0 -1.32 l2.04 0 l0 -2.66 l1.56 0 z M71.38000000000001 10.4 q2.08 0 3.25 1.31 t1.19 3.71 l0 0.38 l-7.56 0 q0.12 1.3 0.98 2.14 t2.1 0.86 q1.9 0 2.96 -1.42 l1.18 0.92 q-0.74 0.96 -1.74 1.45 t-2.4 0.49 q-2.14 0 -3.44 -1.39 t-1.32 -3.53 q0 -2.12 1.33 -3.5 t3.47 -1.42 z M74.14000000000001 14.48 q-0.06 -1.22 -0.79 -1.93 t-2.05 -0.71 q-1.2 0 -2.02 0.68 t-1.02 1.96 l5.88 0 z M82.50000000000001 10.4 q2.08 0 3.25 1.31 t1.19 3.71 l0 0.38 l-7.56 0 q0.12 1.3 0.98 2.14 t2.1 0.86 q1.9 0 2.96 -1.42 l1.18 0.92 q-0.74 0.96 -1.74 1.45 t-2.4 0.49 q-2.14 0 -3.44 -1.39 t-1.32 -3.53 q0 -2.12 1.33 -3.5 t3.47 -1.42 z M85.26000000000002 14.48 q-0.06 -1.22 -0.79 -1.93 t-2.05 -0.71 q-1.2 0 -2.02 0.68 t-1.02 1.96 l5.88 0 z M91.06000000000003 4.880000000000001 l0 15.12 l-1.56 0 l0 -15.12 l1.56 0 z"></path></g><g id="SvgjsG1340" featurekey="duLK5n-0" transform="matrix(0.5598954866314729,0,0,0.5598954866314729,20.27213629454544,41.02135751688197)" fill="#111111"><path d="M1.3 20 l0 -14.24 l4.6 0 c4.04 0 7.32 3.2 7.32 7.12 s-3.28 7.12 -7.32 7.12 l-4.6 0 z M5.9 18.26 c3.06 0 5.54 -2.44 5.54 -5.38 s-2.48 -5.38 -5.54 -5.38 l-2.82 0 l0 10.76 l2.82 0 z M29.596000000000004 20 l0 -14.24 l9 0 l0 1.72 l-7.2 0 l0 3.34 l6.28 0 l0 1.78 l-6.28 0 l0 5.64 l7.02 0 l0 1.76 l-8.82 0 z M68.052 20 l-1.78 0 l0 -11.36 l-4.54 6.2 l-4.52 -6.2 l0 11.36 l-1.78 0 l0 -14.24 l1.88 0 l4.42 6.08 l4.42 -6.08 l1.9 0 l0 14.24 z M92.20800000000001 5.32 c4.1 0 7.46 3.34 7.46 7.46 c0 4.1 -3.36 7.42 -7.46 7.42 s-7.44 -3.32 -7.44 -7.42 c0 -4.12 3.34 -7.46 7.44 -7.46 z M92.20800000000001 18.44 c3.12 0 5.64 -2.56 5.64 -5.66 c0 -3.12 -2.52 -5.7 -5.64 -5.7 s-5.64 2.58 -5.64 5.7 c0 3.1 2.52 5.66 5.64 5.66 z M134.96 20 l0 -14.24 l4.96 0 c0.9 0 1.76 0.36 2.4 1 s1 1.5 1 2.4 c0 1.88 -1.54 3.38 -3.4 3.38 l-3.18 0 l0 7.46 l-1.78 0 z M139.92000000000002 10.8 c0.88 0 1.6 -0.74 1.6 -1.64 s-0.72 -1.66 -1.6 -1.66 l-3.18 0 l0 3.3 l3.18 0 z M165.316 12.42 l5.5 7.58 l-2.06 0 l-5.44 -7.48 l-2.04 0 l0 7.48 l-1.72 0 l0 -14.24 l4.94 0 c0.9 0 1.74 0.36 2.38 1 s1 1.48 1 2.38 c0 1.58 -1.1 2.9 -2.56 3.28 z M161.276 7.48 l0 3.32 l3.22 0 c0.92 0 1.66 -0.74 1.66 -1.66 s-0.74 -1.66 -1.66 -1.66 l-3.22 0 z M192.172 5.32 c4.1 0 7.46 3.34 7.46 7.46 c0 4.1 -3.36 7.42 -7.46 7.42 s-7.44 -3.32 -7.44 -7.42 c0 -4.12 3.34 -7.46 7.44 -7.46 z M192.172 18.44 c3.12 0 5.64 -2.56 5.64 -5.66 c0 -3.12 -2.52 -5.7 -5.64 -5.7 s-5.64 2.58 -5.64 5.7 c0 3.1 2.52 5.66 5.64 5.66 z M215.708 5.76 l5.5 0 l0 14.22 c0 1.42 -0.54 2.74 -1.54 3.74 s-2.32 1.52 -3.74 1.52 c-1.38 0 -2.7 -0.5 -3.68 -1.46 l-0.04 -0.04 l1.48 -1.08 l0.02 0.02 c0.62 0.52 1.4 0.82 2.22 0.82 c1.92 0 3.5 -1.6 3.5 -3.52 l0 -12.46 l-3.72 0 l0 -1.76 z M238.50400000000002 20 l0 -14.24 l9 0 l0 1.72 l-7.2 0 l0 3.34 l6.28 0 l0 1.78 l-6.28 0 l0 5.64 l7.02 0 l0 1.76 l-8.82 0 z M270.54 18.46 c1.78 0 3.44 -0.82 4.54 -2.26 l1.4 1.04 c-1.42 1.9 -3.6 2.98 -5.94 2.98 c-4.12 0 -7.46 -3.34 -7.46 -7.46 c0 -4.1 3.34 -7.44 7.46 -7.44 c2.36 0 4.54 1.1 5.96 3 l-1.42 1.04 c-1.08 -1.46 -2.74 -2.28 -4.54 -2.28 c-3.16 0 -5.7 2.54 -5.7 5.68 c0 3.16 2.54 5.7 5.7 5.7 z M295.79600000000005 20 l0 -12.48 l-3.76 0 l0 -1.76 l9.32 0 l0 1.76 l-3.76 0 l0 12.48 l-1.8 0 z"></path></g></svg></div>*@
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <!-- Property Management -->
                        <li class="active cm-submenu">
                            <a class="sf-layers">Property Management<span class="caret"></span></a>
                            <ul>
                                <li><a href="/Admin/PropertyIndex">Property Basic Information</a></li>
                                <li><a href="/AddNewPublic/Index">Edit Public Utilites</a></li>
                                <li><a href="/Announcement/Index">Edit Announcement</a></li>
                            </ul>
                        </li>

                        <!-- Building Management -->
                        <li class="cm-submenu">
                            <a class="sf-house">Building Management<span class="caret"></span></a>
                            <ul>
                                <li><a href="layouts-breadcrumb2.html">Add New Building Information</a></li>
                                <li><a href="layouts-breadcrumb2.html">Edit Current Building Information</a></li>
                                <li><a href="layouts-breadcrumb2.html">Complaints Management</a></li>
                                <li><a href="layouts-breadcrumb2.html">Repair Management</a></li>
                            </ul>
                        </li>

                        <!-- Fees Management -->
                        <li class="cm-submenu">
                            <a class="sf-money">Fee Management<span class="caret"></span></a>
                            <ul>
                                <li><a href="layouts-breadcrumb2.html">Add New Fee Type</a></li>
                                <li><a href="layouts-breadcrumb2.html">Edit Current Fee Type</a></li>
                                <li><a href="layouts-breadcrumb2.html">Add Owners Fee</a></li>
                                <li><a href="layouts-breadcrumb2.html">Edit Current Owners Fee</a></li>
                            </ul>
                        </li>

                        <!-- Owner Management -->
                        <li class="cm-submenu">
                            <a class="sf-profile-group">Owner Management<span class="caret"></span></a>
                            <ul>
                                <li><a href="layouts-breadcrumb2.html">Add New Owner</a></li>
                                <li><a href="layouts-breadcrumb2.html">Edit Current Owners</a></li>
                                <li><a href="layouts-breadcrumb2.html">Add New Manager</a></li>
                                <li><a href="layouts-breadcrumb2.html">Edit Current Managers</a></li>
                            </ul>
                        </li>

                        <!-- System Management -->
                        <li class="cm-submenu">
                            <a class="sf-terminal">System Management<span class="caret"></span></a>
                            <ul>
                                <li><a href="/System/Index">System Code Maintenance</a></li>
                                <li><a href="/EditAdmin/Index">Add New Administrator</a></li>
                            </ul>
                        </li>


                        <!-- Log Off -->
                        <li class="cm-submenu">
                            <a class="sf-lock-open" href="layouts-breadcrumb2.html">Log Off<span class="caret"></span></a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1>Home</h1>
                <form id="cm-search" action="index.html" method="get">
                    <input type="search" name="q" autocomplete="off" placeholder="Search...">
                </form>
            </div>
            <div class="pull-right">
                <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"> <span class="label label-danger">23</span> </button>
                <div class="popover cm-popover bottom">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading text-overflow">
                                    <i class="fa fa-fw fa-envelope"></i> Nunc volutpat aliquet magna.
                                </h4>
                                <p class="list-group-item-text text-overflow">Pellentesque tincidunt mollis scelerisque. Praesent vel blandit quam.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <i class="fa fa-fw fa-envelope"></i> Aliquam orci lectus
                                </h4>
                                <p class="list-group-item-text">Donec quis arcu non risus sagittis</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <i class="fa fa-fw fa-warning"></i> Holy guacamole !
                                </h4>
                                <p class="list-group-item-text">Best check yo self, you're not looking too good.</p>
                            </a>
                        </div>
                        <div style="padding:10px"><a class="btn btn-success btn-block" href="#">Show me more...</a></div>
                    </div>
                </div>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li class="disabled text-center">
                        <a style="cursor:default;"><strong>John Smith</strong></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-cog"></i> Settings</a>
                    </li>
                    <li>
                        <a href="login.html"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- global area instead start -->
    <div id="global">

        @RenderBody()

    </div>
    <!-- global area instead end-->
    <script src="~/Content/assets/js/lib/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.mousewheel.min.js"></script>
    <script src="~/Content/assets/js/jquery.cookie.min.js"></script>
    <script src="~/Content/assets/js/fastclick.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/clearmin.min.js"></script>
    <script src="~/Content/assets/js/demo/home.js"></script>
</body>
</html>
